###
### Mail Map for Git
###

# This should also serve as an informal listing of people
# who have made significant contributions to the project.

Josh Marchán <sykopomp@sykosomatic.org>
Adlai Chandrasekhar <munchking@gmail.com>
